{% extends 'base.html' %}

{% block content %}
<style>

/* Dropdown Button */
.dropbtn {
  background-color: orange;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: orange;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #e07614;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #e07614;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 230px;
  border: 1px solid #e07614;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #e07614}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
</style>
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

$( document ).ready(function() {
    var sports =  '{{ sports|escapejs }}';
    sports = sports.substring(1,sports.length-1)
    sports = sports.split(",")
    sports.forEach(sport => {
        if (sport!= " "){
            sport = sport.substring(sport.indexOf('\'')+1,sport.length-1)
            document.getElementById(sport).checked = true;
        }
    });
    var type = '{{type}}'
    document.getElementById(type).checked = true;
    var date_sort = '{{datesort}}'
    document.getElementById(date_sort).checked = true;
});
</script>
      <!-- Header/Home -->
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Search Friend</button>
    <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        {% for user in users %}
        <a href="?friend={{user}}">{{user}}</a>
        {% endfor %}
    </div>
</div>

    
{% endblock %}