{% extends 'base.html' %}

{% block content %}
      <!-- Header/Home -->
<div id='graph-table'>
    <table >
        <tr style='vertical-align: top;'>
            <th>
                <h2> Running </h2>
                <button type='submit' onclick="fetchData('total_distance_run')"> Total Distance</button>

                <button type='submit' onclick="fetchData('run_afstand_per_month')"> Kms per month</button>
                 
                <button type='submit' onclick="fetchData('run_afstand_per_week')"> Kms per week</button>

                <button type='submit' onclick="fetchData('heartrate_speed_run')"> Ratio Hearttate to speed</button>

                <!-- <button type='submit' onclick="fetchData('progress')" style='background-color:red'> Progress to Yeargoal</button> -->

                <button type='submit' onclick="fetchData('heartrate_years')"> Heartrate over Years</button>
            </th>
            <th>
                <h2> Bike </h2>
                <button type='submit' onclick="fetchData('total_distance_bike')"> Total Distance</button>

                <button type='submit' onclick="fetchData('bike_afstand_per_week')"> Kms per week</button>

                <button type='submit' onclick="fetchData('bike_afstand_per_month')"> Kms per month</button>
               
                <h2> Swim </h2>
                <button type='submit' onclick="fetchData('total_distance_swim')"> Total Distance</button>

                <button type='submit' onclick="fetchData('heartrate_swim')"> Heartrate over Years</button>
            </th>
            <th>
                <h2> Total </h2>
                <button type='submit' onclick="fetchData('effort')"> Effort</button>
                
                <button type='submit' onclick="fetchData('time_week')"> Time per week</button>

                <button type='submit' onclick="fetchData('time_month')"> Time per month</button>

                <button type='submit' onclick="fetchData('stacked_time')"> Time Stacked</button>

                <button type='submit' onclick="fetchData('piechart_time')"> Time Piechart</button>

                <button type='submit' onclick="fetchData('races')"> Races</button>
            </th>
        </tr>
    </table>    
</div>
<div id='right-side'>
    <label  for="fname">Start Date</label> 
    <input id='beginDate' type="date" value={{beginDate}} onchange="dateChange()"> </input>
    <label  for="fname">End Date</label> 
    <input id="endDate" type="date" value={{endDate}} onchange="dateChange()"> </input>
    <br/><br/>
    <img src={{graph}}>
</div>
    
{% endblock %}