{% extends 'base.html' %}

{% block content %}

<div class="graph-table" style="max-width:2000px;" id="main">
 

    <form action='/predictor' method='GET'>
        <label for="fname">Distance</label>
        <input value=5 name="distance" type="number"/> <br><br>
        <label for="fname">Elevation</label>
        <input value=50 name="elevation" type="number"/> <br><br>
        <label for="fname">Heartrate</label>
        <input value=160 name="heartrate" value="heartrate" type="number"/><br><br>
        <label for="fname">Date</label>
        <input value=1 name="date" value="date" type="number"/><br><br>
        <button type='submit'> Predict</button>
    </form>
</div>
<div id='right-side'>
    <label for="fname">Predicted time in the beginning</label><br>
    {{p1}}<br>
    <label for="fname">Predicted time now</label><br>
    {{p2}}<br>
</div>

{% endblock %}
