{% extends 'base.html' %}

{% block content %}
<div class="w3-padding-large w3-content" style="max-width: 2000px;" id="main">
        <!-- Header/Home -->
    <div style="width:40%; display:inline">
            Your data is getting fetched. This may take a minute, depending on your fanatism <br> <br>

            <form action='/start' method='GET'>
                <input type="hidden" name="waiting" value="waiting" />
                <button type='submit'> Check if Data is fetched</button>
            </form>
    </div>
    
</div>
{% endblock %}
