anaconda==0.0.1.1
appdirs==1.4.4
asgiref==3.2.10
awsebcli==3.19.4
beautifulsoup4==4.9.3
botocore==1.19.13
cement==2.8.2
certifi==2020.11.8
chardet==3.0.4
chess==1.3.2
colorama==0.4.3
config==0.5.0.post0
cycler==0.10.0
distlib==0.3.1
Django==2.1.5
django-crispy-forms==1.10.0
filelock==3.0.12
freetype-py==2.2.0
future==0.16.0
glfw==2.0.0
htmldom==2.0
idna==2.10
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mysqlclient==2.0.3
numpy==1.19.4
p5==0.7.1
pandas==1.1.4
pathspec==0.5.9
Pillow==8.0.1
pyglet==1.5.9
PyMySQL==1.0.2
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.4
semantic-version==2.8.5
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
style==1.1.0
termcolor==1.1.0
threadpoolctl==2.1.0
update==0.0.1
urllib3==1.25.11
virtualenv==20.0.25
vispy==0.6.6
wcwidth==0.1.9
